<!DOCTYPE html>
<html>
<div class="main-container">
  <div class="main-content">
  <head>
    <title>Meetup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
    <%= render "common/navbar" %>
    <%= render "common/flashes" %>
    <%= yield %>

    </div>


  </body>
</div>
  <%= render "common/footer" %>
</div>
</html>
